*, *::before, *::after {                                                                                 /* For Default values*/
    box-sizing: border-box;                                                                                  /* Includes padding and border in elements total width an d height */
    font-family: 'Poppins', sans-serif;                                                                      /* font used (with metalink in HTML) */
}

body {                                                                                                   /* body (essentially the background) */
    background: linear-gradient(to right, rgb(177, 178, 189), rgb(165, 168, 149));                     /* gradient from right grey to yellow*/
}

.clock {                                                                                                 /* for the clock itself*/                      
    position: relative;                                                                                      /* by setting the clock to relative, the numbers and hands will be set absolute to this parent*/
    width: 300px;                                                                                            /* shape of clock = equal width and height and 50% border radius*/
    height: 300px;               
    border-radius: 50%;
    border: 2px solid rgba(94, 96, 102, 0.5);
    box-shadow: 0 10px 20px -6px rgba(175, 175, 175, .5);                                                  /* shadow |Horiz offset|vert offset|blur|spread|color(rgba for transparentcy|*/
    background-color: rgba(255,255,255, .75);                                                              /* partially transparent white*/
}

.clock > .number {                                                                                      /* For each number in the clock (note that this is a child of .clock for positioning*/
    position: absolute;                                                                                     /* for each number the position will be position absolutely relative to the parent .clock which we want number positions*/       
                                                                                                        /* For alignment of numbers around the clock: */
    width: 100%;                                                                                            /* with width and height set to 100%, it is 100% of the parent .clock... */
    height: 100%;                                                                                           /* ... so this will be a square over the parent clock element which we can rotate for each number */
    text-align: center;                                                                                     /* center the text in the middle of the clock so when the square rotates, it will position correctly in a circle*/          
                                                                                                       /* for rotation of numbers: (example: transform: rotate(90deg)*/
                                                                                                       /* However, because we have 12 numbers and we dont want to do each individually, you can use a variable  */
    transform: rotate(var(--rotation));                                                                     /* so we use transform, and rotate using a --rotation variable....*/
    --rotation: 0;                                                                                         /*... and set that variable to 0 to make sure we start at the 12 o'clock point...*/
                                                                                                           /*...from this point, we can set each number to the correct degree around the clock!*/
}

.clock > .number1 {                                                                                      /* so when you select .number1, you will be able*/
    --rotation: 30deg;
}